@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background-color: rgb(244, 242, 238);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0 -0.75rem;
}
.container .row .col {
  flex: 1 0 0%;
}
.container .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 0.75rem;
}

.text-center {
  text-align: center;
}

.outlet-container {
  margin-top: 100px;
}

.slider-container {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  position: relative;
}
.slider-container::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-container .slider-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.slider-container .card {
  padding: 5px 6px;
}
.slider-container .card .card-body {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slider-container .card .card-body:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.slider-container .card .card-body .card-img-top {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  min-width: 100%;
  background-color: rgb(219, 219, 219);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 99;
}
.navbar .container .row {
  flex-direction: column;
  justify-content: space-between;
}
.navbar .container .row .navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.navbar .container .row .navbar-menu .logo {
  width: 100px;
}
.navbar .container .row .navbar-menu .navbar-toggler {
  display: block;
}
.navbar .container .row .navbar-menu .navbar-toggler .toggler-img {
  max-width: 30px;
  max-height: 20px;
  transform: scaleX(-1);
}
@media (min-width: 640px) {
  .navbar .container .row .navbar-menu .navbar-toggler {
    display: none;
  }
}
@media (min-width: 640px) {
  .navbar .container .row .navbar-menu {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.navbar .container .row .navbar-collapse {
  max-width: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.navbar .container .row .navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar .container .row .navbar-collapse .navbar-nav .nav-item {
  display: flex;
  text-align: center;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.navbar .container .row .navbar-collapse .navbar-nav .nav-item .nav-link {
  border: 1px solid rgb(107, 114, 128);
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
}
.navbar .container .row .navbar-collapse .navbar-nav .nav-item:hover {
  scale: 1.04;
}
@media (min-width: 640px) {
  .navbar .container .row .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
}
@media (min-width: 640px) {
  .navbar .container .row .navbar-collapse {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.navbar .container .row .navbar-collapse.menuClose {
  max-height: 0px;
}
@media (min-width: 640px) {
  .navbar .container .row .navbar-collapse.menuClose {
    max-height: 100%;
    align-content: center;
  }
}
.navbar .container .row .navbar-collapse.menuOpen {
  max-height: 350px;
  padding: 20px;
}
@media (min-width: 640px) {
  .navbar .container .row {
    flex-direction: row;
  }
}

.browserCountry {
  padding-bottom: 50px;
}
.browserCountry h1 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.browserCountry .country-div {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.browserCountry .country-div .col {
  flex: 1 0 0%;
}
.browserCountry .country-div .country-link {
  padding: 0 3px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.mealsEgyptian {
  color: rgb(242, 151, 36);
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
}
.mealsEgyptian::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.mealsEgyptian h1 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.mealsEgyptian .row {
  gap: 20px;
  margin: auto;
}
.mealsEgyptian .card {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: auto;
  padding: 15px;
}
.mealsEgyptian .card img {
  max-width: 100%;
  transition: opacity 1s, transform 0.5s;
  backface-visibility: hidden;
}
.mealsEgyptian .card:hover img {
  transform: scale3d(1.2, 1.2, 1);
}
.mealsEgyptian .card .card-img-top {
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
@media (min-width: 640px) {
  .mealsEgyptian .card {
    max-width: 230px;
  }
}
@media (min-width: 768px) {
  .mealsEgyptian .card {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  .mealsEgyptian .card {
    max-width: 290px;
  }
}
@media (min-width: 1280px) {
  .mealsEgyptian .card {
    max-width: 23%;
  }
}

.areaMeals {
  margin-top: 30px;
  color: rgb(107, 114, 128);
}
.areaMeals .row {
  gap: 20px;
  margin: auto;
}
.areaMeals h1 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.areaMeals .card {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}
.areaMeals .card img {
  max-width: 100%;
  transition: opacity 1s, transform 0.5s;
  backface-visibility: hidden;
}
.areaMeals .card:hover img {
  transform: scale3d(1.2, 1.2, 1);
}
.areaMeals .card .card-img-top {
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .areaMeals .card {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .areaMeals .card {
    max-width: 360px;
  }
}
@media (min-width: 1024px) {
  .areaMeals .card {
    max-width: 320px;
  }
}
@media (min-width: 1280px) {
  .areaMeals .card {
    max-width: 300px;
  }
}

.details {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 50px;
}
.details .col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin: 0 auto;
  position: relative;
}
.details .col-md-4::before {
  content: "";
  background-color: rgb(107, 114, 128);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: -50px;
}
@media (max-width: 640px) {
  .details .col-md-4::before {
    display: none;
  }
}
.details .col-md-4 .card {
  border: 1px solid rgb(107, 114, 128);
  border-radius: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 95px;
}
.details .col-md-4 .card .card-img-top {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
.details .col-md-4 .card .card-body {
  padding: 15px;
  color: rgb(242, 151, 36);
}
.details .col-md-4 .card .card-footer {
  border-top: 1px solid rgb(107, 114, 128);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.details .col-md-4 .card .card-footer .col {
  flex: 1 0 0%;
}
.details .col-md-4 .card .card-footer .card-span {
  color: rgb(250, 250, 250);
  border-radius: 5px;
  align-items: center;
  text-align: center;
  background-color: rgb(33, 186, 117);
}
.details .col-md-4 .card .card-footer .card-span:first-child {
  background-color: #dc2626;
}
.details .col-md-4 .card .card-footer .card-span .card-link {
  padding: 3px 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.details .col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
  text-align: center;
  padding-top: 80px;
}
.details .col-md-8 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
  position: relative;
}
.details .col-md-8 ul::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -10px;
  left: 0;
}
.details .col-md-8 ul li {
  max-width: 9rem;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .details .col-md-8 ul li {
    max-width: 8rem;
  }
}
@media (min-width: 1200px) {
  .details .col-md-8 ul li {
    max-width: 9rem;
  }
}
.details .col-md-8 .text-gradient {
  background: linear-gradient(to right, rgb(242, 151, 36), rgba(202, 16, 35, 0.77), #c90519);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: start;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}
.details .col-md-8 h1 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
@media (max-width: 640px) {
  .details .col-md-4 {
    width: 95%;
    margin: auto;
  }
  .details .col-md-8 {
    flex: 0 0 auto;
    margin: auto;
    width: 95%;
  }
}
@media (min-width: 641px) {
  .details .col-md-4 {
    width: 35%;
  }
  .details .col-md-8 {
    flex: 0 0 auto;
    margin: auto;
    width: 65%;
  }
}
@media (min-width: 768px) {
  .details .col-md-4 {
    width: 35%;
  }
  .details .col-md-8 {
    flex: 0 0 auto;
    margin: auto;
    width: 65%;
  }
}

.left {
  background-color: rgb(250, 250, 250);
  min-height: 100dvh;
  z-index: 99;
  position: relative;
}
.left .menuIcon {
  max-width: 30px;
  max-height: 20px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 20px;
  right: -40px;
  cursor: pointer;
}
@media (min-width: 640px) {
  .left .menuIcon {
    display: none;
  }
}
.left .menuIcon.open {
  right: -275px;
}
.left .side-navbar {
  background-color: rgb(250, 250, 250);
  width: 250px;
  padding: 40px 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: absolute;
  height: calc(100dvh + 45px);
}
@media (min-width: 640px) {
  .left .side-navbar {
    position: relative;
    width: 250px;
  }
}
@media (min-width: 640px) {
  .left .side-navbar {
    position: relative;
  }
}
.left .side-navbar.open {
  width: 250px;
}
.left .side-navbar.close {
  width: 0px;
}
@media (min-width: 640px) {
  .left .side-navbar.close {
    width: 250px;
  }
}
.left .sideNav {
  position: sticky;
  top: 0px;
}
.left .logo {
  max-width: 250px;
}
.left .navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
}
.left .navbar-nav .nav-item {
  display: flex;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}
.left .navbar-nav .nav-item .nav-link {
  border: 1px solid rgb(107, 114, 128);
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.left .navbar-nav .nav-item .nav-link .nav-logo {
  width: 20px;
  height: 20px;
}
.left .navbar-nav .nav-item .nav-link.active {
  scale: 1.04;
  border: 1px solid rgb(242, 151, 36);
}
.left .navbar-nav .nav-item:hover {
  opacity: 1;
  scale: 1.04;
  box-shadow: 0 4px 8px 0 rgba(253, 186, 116, 0.3), 0 6px 20px 0 rgba(253, 186, 116, 0.19);
}

.mealsContainer {
  display: flex;
}
.mealsContainer .right {
  padding: 50px 0px;
  overflow: hidden;
}
.mealsContainer .right .text-gradient {
  background: linear-gradient(to right, rgb(242, 151, 36), rgba(202, 16, 35, 0.77), #c90519);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: start;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}
.mealsContainer .right .container .categories {
  width: 100%;
  margin-top: 15px;
  position: relative;
}
.mealsContainer .right .container .categories::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -10px;
  left: -20px;
}
.mealsContainer .right .container .categories .categories-list {
  display: none;
}
@media (min-width: 640px) {
  .mealsContainer .right .container .categories .categories-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
}
.mealsContainer .right .container .categories .categories-list .list .categories-link {
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
  border-radius: 25px;
  padding: 5px 15px;
  font-family: cursive;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.mealsContainer .right .container .categories .categories-list .list .categories-link:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 8px 0 rgba(107, 114, 128, 0.06), 0 6px 20px 0 rgba(107, 114, 128, 0.19);
}
.mealsContainer .right .container .categories .categories-list .list .categories-link.active {
  color: rgb(250, 250, 250);
}
.mealsContainer .right .container .categories .categories-list .list .categories-link.active:hover {
  background-color: rgb(242, 151, 36);
  box-shadow: 0 4px 8px 0 rgba(107, 114, 128, 0.06), 0 6px 20px 0 rgba(107, 114, 128, 0.19);
}
.mealsContainer .right .container .categories .categories-select {
  display: block;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  border-radius: 10px;
  padding: 5px 15px;
}
@media (min-width: 640px) {
  .mealsContainer .right .container .categories .categories-select {
    display: none;
  }
}
.mealsContainer .right .meal-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 70px;
  margin-top: 100px;
}
.mealsContainer .right .meal-container .meal-card {
  background-color: rgb(250, 250, 250);
  border-radius: 30px;
  width: 17rem;
  transition: all ease-in-out 0.3s;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.mealsContainer .right .meal-container .meal-card .meal-card-body {
  position: relative;
}
.mealsContainer .right .meal-container .meal-card .meal-card-body .meal-img {
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease-in-out 0.4s;
  box-shadow: 0 8px 16px 0 rgba(107, 114, 128, 0.4), 0 6px 20px 0 rgba(107, 114, 128, 0.19);
  position: relative;
  top: -45px;
  left: 45px;
}
.mealsContainer .right .meal-container .meal-card .meal-card-body .meal-card-footer {
  position: relative;
  top: -20px;
  align-items: center;
  align-content: center;
}
.mealsContainer .right .meal-container .meal-card .meal-card-body .meal-card-footer button {
  background-color: rgb(33, 186, 117);
  color: rgb(250, 250, 250);
  font-weight: 700;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 5px;
  padding: 5px 15px;
  opacity: 0.7;
  transition: all ease-in-out 0.3s;
}
.mealsContainer .right .meal-container .meal-card .meal-card-body .meal-card-footer button:hover {
  scale: 1.04;
  opacity: 1;
}
.mealsContainer .right .meal-container .meal-card:hover {
  scale: 1.02;
  box-shadow: 0 4px 8px 0 rgba(107, 114, 128, 0.06), 0 6px 20px 0 rgba(107, 114, 128, 0.19);
}
.mealsContainer .right .meal-container .meal-card:hover .meal-img {
  transform: rotate(360deg);
}

.ingredients-container {
  display: flex;
}
.ingredients-container .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}
.ingredients-container .right .col {
  flex: 1 0 0%;
}
.ingredients-container .right ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
  position: relative;
}
.ingredients-container .right ul::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -10px;
  left: 0;
}
.ingredients-container .right ul li {
  max-width: 9rem;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(107, 114, 128);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .ingredients-container .right ul li {
    max-width: 8rem;
  }
}
@media (min-width: 1200px) {
  .ingredients-container .right ul li {
    max-width: 9rem;
  }
}
.ingredients-container .right .text-gradient {
  background: linear-gradient(to right, rgb(242, 151, 36), rgba(202, 16, 35, 0.77), #c90519);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: start;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}
.ingredients-container .right h1 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.ingredients-container .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.area-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.area-container .col {
  flex: 1 0 0%;
}
.area-container .content {
  margin-top: 90px;
}
.area-container .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  background-color: rgb(250, 250, 250);
}
.footer .footer-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.footer .footer-body::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgb(107, 114, 128);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .footer-body .col {
  flex: 1 0 0%;
}
.footer .footer-body .logo {
  width: 100px;
}
.footer .copy-right {
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  padding-left: 4px;
  font-family: cursive;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.active {
  background-color: rgb(242, 151, 36);
  border: 1px solid rgb(242, 151, 36);
  color: rgb(250, 250, 250);
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(253, 186, 116, 0.5), 0 6px 20px 0 rgba(253, 186, 116, 0.9);
}/*# sourceMappingURL=App.css.map */